hr {
    margin: 3px 0;
}
p {
    margin: 0;
}

.navbar-static-top {
  margin-bottom: 19px;
}

#footer {
    margin-top: 80px;
    margin-bottom: 20px;
}

input[type=file] {
    width: 140px;
}

.pre-scrollable {
    height: 340px;
}

.glyphicon {
    font-size: 11px;;
    color: #cccccc;
}

#editor { 
    height: 340px;
}

@media (max-width: 768px) {
    .glyphicon,
    .tree-item {
        font-size: 25px;
        margin-right: 20px;
    }
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}