<h1>Setting</h1>
<table class="table">
    <tr>
        <th style="padding-left: 0; width:200px;">
            REST API server
        </th>
        <td>
            <input type="text" ng-model="tmpSettings.connection" placeholder="http://zoorilla-rest.github.io:8080">
        </td>
    </tr>
</table>
<a class="btn btn-default" ng-click="save()">Save</a>
<a class="btn btn-default" ng-click="reset()">Reset</a>